.form
{
  text-align: center;
  border: 1px solid green;
  width: 30vw;
  height: 70vh;
}
.field
{
  position: relative;
  border: 1px solid green;
  width: 30vw;
  height: 70vh;
}
.half-field
{
  position: relative;
  height: 47%;
}
.btn-form
{
  margin-top: 10px;
}
input
{
  border: 1px solid black;
  background-color: lightgrey;
  text-align: center;
  border-radius: 5px;
}
.user-name
{
  position: absolute;
  bottom: 40px;
  right: 10px;
}
.user-points
{
  position: absolute;
  bottom: 0;
  right: 10px;
}
.btn-next
{
  width: 7vw;
  height: 5vh;
  position: absolute;
  bottom: 10px;
}
.comp-card
{
  position: absolute;
  right: 11vw;
  width: 150px;
  height: 208px;
}
.user-card
{
  position: absolute;
  right: 11.5vw;
  width: 150px;
  height: 208px;
}
.last-field
{
  text-align: center;
  border: 1px solid green;
  width: 30vw;
  height: 70vh;
}
.last-field > h1
{
  color: blue;
}